<li id="comment-<%= comment.id %>" style="list-style: none;">
  <%= link_to gravatar_for(comment.user, size: "50"), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content"><%= comment.text %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if is_comment_author_or_post_author?(comment.id) %>
      <%= link_to "delete", "/comments/#{comment.id}", method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>